BioA.UI/Service References/ServiceReference1/BioAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BioA.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BioA.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="CommunicationEntity1">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjParam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrmethodName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommunicationEntity1" nillable="true" type="tns:CommunicationEntity1" />
  <xs:complexType name="CommunicationEntityThreeParam1">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CommunicationEntity1">
        <xs:sequence>
          <xs:element minOccurs="0" name="ObjLastestParam" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicationEntityThreeParam1" nillable="true" type="tns:CommunicationEntityThreeParam1" />
</xs:schema>